---
import Layout from '@layouts/Layout.astro';
import { Image } from "astro:assets";

import logoLandscape from "@images/logo-landscape.svg";

import bsWeihnachtsMarkt from "@images/locations/bs-weihnachtsmarkt/burgplatz.png";
---

<Layout title="Nix Usergroup Hannover Braunschweig Wolfsburg">
  <Image src={logoLandscape} alt="Nix Usergroup Hannover Braunschweig Wolfsburg" class="w-full object-contain px-2 pt-10 lg:pt-20 lg:px-12 max-w-screen-2xl mx-auto" />
  <div class="flex flex-col gap-8 max-w-screen-md mx-auto pb-20 pt-4 px-4 lg:px-0">
    <h1 class="text-center py-10">Nix(OS) User Group Hannover Braunschweig Wolfsburg</h1>
    <div>
      <h2 class="pb-4">Contact</h2>
      <ul class="list-image-flake list-inside">
        <li>Whatsapp Group: <a href="https://chat.whatsapp.com/JSWO6lI7Ls5BrRxzpmYKuR">Join Here</a></li>
        <li>Matrix Chat Room: <a href="https://matrix.to/#/#habrawo:nixos.org">#habrawo:nixos.org</a></li>
        <li>Group organizer: Email jacek@applicative.systems, Matrix <a href="https://matrix.to/#/@tfc:matrix.org">@tfc:matrix.org</a></li>
      </ul>
    </div>
    <div class="flex flex-col gap-4">
      <h2>Next Meetup</h2>

      <p>Date: 2025-05-26 Monday</p>
      <p>Location: <a href="/locations/schiller40-wolfsburg">Wolfsburg, Coworking Space Schiller 40</a></p>
      <p>Time: 18:00 - open end</p>
      <ul class="list-image-flake list-inside">
        <li>18:00: Get together</li>
        <li>18:20: Tech Talk</li>
        <li>19:20: Discussion</li>
        <li>20:00: Restaurant or Bar (until open end)</li>
      </ul>
      <h3>Tech Talk: TBD</h3>

      <hr>

      <h2>Past Meetup</h2>

      <p>Date: 2025-04-25 Friday</p>
      <p>Location: <a href="/locations/hafven-hannover">Hannover, Hafven</a></p>
      <p>Time: 18:00 - open end</p>
      <ul class="list-image-flake list-inside">
        <li>18:00: Get together</li>
        <li>18:20: Tech Talk</li>
        <li>19:20: Discussion</li>
        <li>20:00: Restaurant or Bar (until open end)</li>
      </ul>
      <h3>Tech Talk: nixos-diff: view differences in NixOS configurations</h3>
      <p>
        Viewing differences between NixOS configurations has been possible by
        viewing differences of the resulting derivations, as well as interactive
        exploration using nixos-option.
        With nixos-diff it is possible to view all relevant configuration
        differences.
        In this session we will introduce and explore this early prototype.
      </p>

      <p>Date: 2025-03-27 Thursday</p>
      <p>Location: <a href="/locations/theos-coworking-space-braunschweig">Braunschweig, Theos Coworking Space</a></p>
      <p>Time: 18:00 - open end</p>
      <ul class="list-image-flake list-inside">
        <li>18:00: Get together</li>
        <li>18:20: Tech Talk</li>
        <li>19:20: Discussion about <a href="https://planetnix.com/">Planet Nix</a>, dynamic derivations, and more!</li>
        <li>20:00: Restaurant or Bar (until open end)</li>
      </ul>
      <h3>Tech Talk: Automatic Deployment with Sanity-Checked Configurations</h3>
      <p>
        <a href="https://github.com/applicative-systems/nxbd">nxbd</a> is a lightweight,
        safety-focused NixOS deployment tool that helps you manage multiple NixOS
        systems with confidence.
        Unlike other deployment tools, nxbd focuses on validating your configurations
        before deployment to prevent common pitfalls and system lockouts.
      </p>

      <hr>

      <h2>Past Meetup</h2>

      <p>Date: 2025-02-27 Tuesday</p>
      <p>Location: <a href="/locations/schiller40-wolfsburg">Wolfsburg, Coworking Space Schiller 40</a></p>
      <p>Time: 18:00 - open end</p>
      <ul class="list-image-flake list-inside">
        <li>18:00: Get together</li>
        <li>18:20: Tech Talk</li>
        <li>19:20: Discussion</li>
        <li>20:00: Restaurant or Bar (until open end)</li>
      </ul>
      <h3>Tech Talk: <i>TBD</i></h3>
      <p><i>content TBD</i></p>

      <hr>

      <h2>Past Meetup</h2>
      <p>Date: 2025-01-13 Monday</p>
      <p>Location: <a href="/locations/hafven-hannover">Hannover, Hafven</a></p>
      <p>Time: 18:00 - open end</p>
      <ul class="list-image-flake list-inside">
        <li>18:00: Get together</li>
        <li>18:20: Tech Talk</li>
        <li>19:20: Discussion</li>
        <li>20:00: Restaurant or Bar (until open end)</li>
      </ul>
      <h3>Tech Talk: How to set up a Grafana Dashboard for your server infrastructure</h3>

      <p>
        It's important to see all your server's health and performance at one glance. For that reason, let's see how to set up a Grafana dashboard with automatically collected data via an encrypted Wireguard network - complete with encrypted secret management!
      </p>

      <hr>

      <h2>Past Meetup</h2>
      <p>Date: Tuesday, 2024-09-17</p>
      <p>Location: <a href="/locations/theos-coworking-space-braunschweig">Braunschweig, Theos Coworking Space</a></p>
      <p>Time: 18:00 - open end</p>

      <h3>Schedule</h3>
      <ul class="list-image-flake list-inside">
        <li>18:00: Get together</li>
        <li>18:20: Talk</li>
        <li>19:20: Discussion</li>
        <li>20:00: Restaurant or Bar (until open end)</li>
      </ul>

      <hr>

      <h2>Past Meetup</h2>
      <p>Date: 2024-12-10 Tuesday</p>
      <p>Location: Burgplatz, Braunschweig. On the christmas market! We meet right at the lion statue.</p>
      <Image src={bsWeihnachtsMarkt} alt="The Burgplatz in Braunschweig. We meet at the Lion statue." />

      <p>Time: 18:00 - open end</p>
      <ul class="list-image-flake list-inside">
        <li>18:00: Get together</li>
        <li>21:00: Restaurant or Bar (until open end)</li>
      </ul>
      <h3>Let's Celebrate Christmas and the end of the year together</h3>
      <p>There will be a little Nix-related present for everyone!</p>

      <hr>
      <h2>Past Meetup</h2>
      <p>Date: 2024-11-19 Tuesday</p>
      <p>Location: <a href="/locations/schiller40-wolfsburg">Wolfsburg, Coworking Space Schiller 40</a></p>
      <p>Time: 18:00 - open end</p>
      <ul class="list-image-flake list-inside">
        <li>18:00: Get together</li>
        <li>18:20: Tech Talk</li>
        <li>19:20: Discussion</li>
        <li>20:00: Restaurant or Bar (until open end)</li>
      </ul>
      <h3>Tech Talk: <i>TBD</i></h3>
      <p><i>content TBD</i></p>

      <hr>

      <h2>Past Meetup</h2>
      <p>Date: 2024-10-29 Tuesday</p>
      <p>Location: <a href="/locations/hafven-hannover">Hannover, Hafven</a></p>
      <p>Time: 18:00 - open end</p>
      <ul class="list-image-flake list-inside">
        <li>18:00: Get together</li>
        <li>18:20: Tech Talk</li>
        <li>19:20: Discussion</li>
        <li>20:00: Restaurant or Bar (until open end)</li>
      </ul>
      <h3>Tech Talk: asecret - automatically provision secrets through configuration</h3>

      <p>Service configuration through Nix is a blast!: it is both easily discoverable and does not require expert knowledge. That fun is spoiled whenever we encounter secrets, since their generation usually is not as easily discoverable and does require expert knowledge. Can we maintain the fun when encountering secrets?</p>

      <hr>

      <h2>Past Meetup</h2>
      <p>Date: Tuesday, 2024-09-17</p>
      <p>Location: <a href="/locations/theos-coworking-space-braunschweig">Braunschweig, Theos Coworking Space</a></p>
      <p>Time: 18:00 - open end</p>

      <h3>Schedule</h3>
      <ul class="list-image-flake list-inside">
        <li>18:00: Get together</li>
        <li>18:20: Talk</li>
        <li>19:20: Discussion</li>
        <li>20:00: Restaurant or Bar (until open end)</li>
      </ul>
    </div>
  </div>
</Layout>
